body {
  height: 100vh;
  margin: 0;
  background-color: #fffacd;
}

#introduce {
  font-size: 50px;
  text-align: center;
  font-family: FangSong, Arial;
}

div {
  padding-left: 20%;
  display: block;
  flex-direction: column;
}

#hrefSize a {
  color: black;
  font-size: 34px;
  font-family: "Courier New", Arial;
}

.fontStyle {
  font-family: KaiTi, Arial;
}

button {
  display: inline-block;
  font-size: 34px;
  font-family: "Courier New", Arial;
}
